{% extends "ubuntu_website_base.html" %}

{% block title %}Ubuntu Template{% endblock %}

{% block logo_text %}Website Template{% endblock %}

{% block extrahead %}
{% endblock %}

{% block main_nav_links %}
{% endblock %}

{% block sub_nav_links %}
{% endblock %}

{% block content %}
{% endblock %}

{% block general %}
{% endblock %}

{% block footer_list_1 %}
{% endblock %}

{% block footer_list_2 %}
{% endblock %}

{% block footer_list_3 %}
{% endblock %}

{% block footer_note %}
<p>Ubuntu Website Template developed by Michael Hall
<a href="https://launchpad.net/django-ubuntu-template" target="_blank">https://launchpad.net/django-ubuntu-template</a>
</p>
{% endblock %}
